In [3]:
import pandas as pd
import numpy as np
import datetime as dt
import os
import postgresql

# Display all columns
pd.set_option('display.max_columns', None)

In [16]:
table_name = 'sponsored_products.purchased_product'
with postgresql.setup_cursor() as cur:
    cur.execute(f"""
        SELECT column_name 
        FROM information_schema.columns
        WHERE table_schema || '.' || table_name = '{table_name}' 
        ORDER BY column_name
    """)
    
    columns = [row['column_name'] for row in cur.fetchall()]
    columns_str = ', '.join(columns)
    
query = f"SELECT {columns_str} FROM {table_name} LIMIT 100"
data = postgresql.sql_to_dataframe(query)
data.head()

,ad_group_id,ad_group_name,advertised_asin,advertised_sku,campaign_budget_currency_code,campaign_id,campaign_name,created_at,date,keyword,keyword_id,keyword_type,kindle_edition_normalized_pages_read_14d,kindle_edition_normalized_pages_royalties_14d,marketplace,match_type,portfolio_id,purchased_asin,purchases_14d,purchases_1d,purchases_30d,purchases_7d,purchases_other_sku_14d,purchases_other_sku_1d,purchases_other_sku_30d,purchases_other_sku_7d,sales_14d,sales_1d,sales_30d,sales_7d,sales_other_sku_14d,sales_other_sku_1d,sales_other_sku_30d,sales_other_sku_7d,units_sold_clicks_14d,units_sold_clicks_1d,units_sold_clicks_30d,units_sold_clicks_7d,units_sold_other_sku_14d,units_sold_other_sku_1d,units_sold_other_sku_30d,units_sold_other_sku_7d,updated_at
0,73871428555230,ATS+AKS | SPk-sEX | 'home bar kit' sv_500+,B0B2BBKKZV,BB_ORIG-CB-CKTL_SY-BKs-SVt_SL_AKS,USD,15492193907879,ATS+AKS | SPk-sEX | 'home bar kit' sv_500+ | -...,2023-08-08 12:50:57.460628,2023-05-20,home bar kit,119277088504821,EXACT,0,0,None,EXACT,82653048395640,B0B2BJT3GC,0,0,0,0,1,1,1,1,0,0,0,0,44.99,44.99,44.99,44.99,0,0,0,0,1,1,1,1,2023-08-08 12:50:57.460628
1,71058622389923,BTS+BKS | SPk-sEX | 'bar tools bartender tool ...,B0B29QGQDK,BB_ORIG-BS-CKTL_SY-TRs-SVt_SL_BTS,USD,226574154191633,BTS+BKS | SPk-sEX | 'bar tools bartender tool ...,2023-08-08 12:50:57.460628,2023-05-16,bar tools bartender tool kit,270296561144559,EXACT,0,0,None,EXACT,1927316669387,B0B2B7LK6J,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,2023-08-08 12:50:57.460628
2,198494182148057,ATS+AKS | SPk-sEX | 'cocktail set bartender ki...,B0B2BBKKZV,BB_ORIG-CB-CKTL_SY-BKs-SVt_SL_AKS,USD,15360177808556,ATS+AKS | SPk-sEX | 'cocktail set bartender ki...,2023-08-08 12:50:57.460628,2023-05-21,cocktail set bartender kit,195417907873567,EXACT,0,0,None,EXACT,82653048395640,B0B29QGQDK,0,0,0,0,1,1,1,1,0,0,0,0,52.2,52.2,52.2,52.2,0,0,0,0,1,1,1,1,2023-08-08 12:50:57.460628
3,198494182148057,ATS+AKS | SPk-sEX | 'cocktail set bartender ki...,B0B2BBKKZV,BB_ORIG-CB-CKTL_SY-BKs-SVt_SL_AKS,USD,15360177808556,ATS+AKS | SPk-sEX | 'cocktail set bartender ki...,2023-08-08 12:50:57.460628,2023-05-16,cocktail set bartender kit,195417907873567,EXACT,0,0,None,EXACT,82653048395640,B0B2B9X6P4,0,0,0,0,1,1,1,1,0,0,0,0,66.99,66.99,66.99,66.99,0,0,0,0,1,1,1,1,2023-08-08 12:50:57.460628
4,198494182148057,ATS+AKS | SPk-sEX | 'cocktail set bartender ki...,B0B2BBKKZV,BB_ORIG-CB-CKTL_SY-BKs-SVt_SL_AKS,USD,15360177808556,ATS+AKS | SPk-sEX | 'cocktail set bartender ki...,2023-08-08 12:50:57.460628,2023-05-17,cocktail set bartender kit,195417907873567,EXACT,0,0,None,EXACT,82653048395640,B0B2B9X6P4,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,2023-08-08 12:50:57.460628

In [20]:
with postgresql.setup_cursor() as cur:
    cur.execute(f"""
        SELECT DISTINCT column_name 
        FROM information_schema.columns
        WHERE table_schema = '{'sponsored_products'}' AND table_name NOT LIKE '%_console%'
        ORDER BY column_name
    """)

    all_sp_columns = [row['column_name'] for row in cur.fetchall()]
all_sp_columns

['acos_clicks_14d',
 'acos_clicks_7d',
 'ad_group_id',
 'ad_group_name',
 'ad_id',
 'ad_keyword_status',
 'ad_status',
 'advertised_asin',
 'advertised_sku',
 'attributed_sales_same_sku_14d',
 'attributed_sales_same_sku_1d',
 'attributed_sales_same_sku_30d',
 'attributed_sales_same_sku_7d',
 'budget_budget',
 'budget_budget_type',
 'campaign_applicable_budget_rule_id',
 'campaign_applicable_budget_rule_name',
 'campaign_bidding_strategy',
 'campaign_budget_amount',
 'campaign_budget_currency_code',
 'campaign_budget_type',
 'campaign_id',
 'campaign_name',
 'campaign_rule_based_budget_amount',
 'campaign_status',
 'click_through_rate',
 'clicks',
 'cost',
 'cost_per_click',
 'created_at',
 'date',
 'dynamic_bidding_placement_bidding',
 'dynamic_bidding_strategy',
 'end_date',
 'impressions',
 'keyword',
 'keyword_bid',
 'keyword_id',
 'keyword_type',
 'kindle_edition_normalized_pages_read_14d',
 'kindle_edition_normalized_pages_royalties_14d',
 'marketplace',
 'match_type',
 'name',
 'placement_classification',
 'portfolio_id',
 'purchased_asin',
 'purchases_14d',
 'purchases_1d',
 'purchases_30d',
 'purchases_7d',
 'purchases_other_sku_14d',
 'purchases_other_sku_1d',
 'purchases_other_sku_30d',
 'purchases_other_sku_7d',
 'purchases_same_sku_14d',
 'purchases_same_sku_1d',
 'purchases_same_sku_30d',
 'purchases_same_sku_7d',
 'roas_clicks_14d',
 'roas_clicks_7d',
 'sales_14d',
 'sales_1d',
 'sales_30d',
 'sales_7d',
 'sales_other_sku_14d',
 'sales_other_sku_1d',
 'sales_other_sku_30d',
 'sales_other_sku_7d',
 'search_term',
 'spend',
 'start_date',
 'state',
 'targeting',
 'targeting_type',
 'top_of_search_impression_share',
 'units_sold_clicks_14d',
 'units_sold_clicks_1d',
 'units_sold_clicks_30d',
 'units_sold_clicks_7d',
 'units_sold_other_sku_14d',
 'units_sold_other_sku_1d',
 'units_sold_other_sku_30d',
 'units_sold_other_sku_7d',
 'units_sold_same_sku_14d',
 'units_sold_same_sku_1d',
 'units_sold_same_sku_30d',
 'units_sold_same_sku_7d',
 'updated_at']

In [25]:
sp_filepath = os.path.join('PPC Data', 'T14.1 Amazon PPC Detailed Reporting (SP) - CLEANED.xlsx')

In [27]:
data = pd.read_excel(sp_filepath, sheet_name='SP Terms')

In [29]:
table_name = 'sponsored_products.search_term'
with postgresql.setup_cursor() as cur:
    cur.execute(f"""
        SELECT column_name 
        FROM information_schema.columns
        WHERE table_schema || '.' || table_name = '{table_name}' 
        ORDER BY column_name
    """)
    
    columns = [row['column_name'] for row in cur.fetchall()]
    columns_str = ', '.join(columns)

In [32]:
cols_exist = [col for col in columns if col not in data.columns]
cols_exist

['acos_clicks_14d',
 'acos_clicks_7d',
 'ad_group_id',
 'ad_keyword_status',
 'attributed_sales_same_sku_14d',
 'attributed_sales_same_sku_1d',
 'attributed_sales_same_sku_30d',
 'campaign_budget_amount',
 'campaign_budget_currency_code',
 'campaign_budget_type',
 'campaign_id',
 'campaign_status',
 'created_at',
 'keyword',
 'keyword_bid',
 'keyword_id',
 'keyword_type',
 'kindle_edition_normalized_pages_read_14d',
 'kindle_edition_normalized_pages_royalties_14d',
 'marketplace',
 'portfolio_id',
 'purchases_14d',
 'purchases_1d',
 'purchases_30d',
 'purchases_same_sku_14d',
 'purchases_same_sku_1d',
 'purchases_same_sku_30d',
 'purchases_same_sku_7d',
 'roas_clicks_14d',
 'roas_clicks_7d',
 'sales_14d',
 'sales_1d',
 'sales_30d',
 'units_sold_clicks_14d',
 'units_sold_clicks_1d',
 'units_sold_clicks_30d',
 'units_sold_same_sku_14d',
 'units_sold_same_sku_1d',
 'units_sold_same_sku_30d',
 'updated_at']

In [33]:
data.columns

Index(['date', 'portfolio_name', 'currency', 'campaign_name', 'ad_group_name',
       'targeting', 'match_type', 'search_term', 'impressions', 'clicks',
       'click_through_rate', 'cost_per_click', 'cost', 'sales_7d',
       'Total Advertising Cost of Sales (ACOS)',
       'Total Return on Advertising Spend (ROAS)', 'purchases_7d',
       'units_sold_clicks_7d', '7 Day Conversion Rate',
       'units_sold_same_sku_7d', 'units_sold_other_sku_7d',
       'attributed_sales_same_sku_7d', 'sales_other_sku_7d'],
      dtype='object')

In [34]:
campaign_ids = postgresql.sql_to_dataframe("SELECT DISTINCT campaign_name, campaign_id FROM sponsored_products.campaign_adgroup")
ad_group_ids = postgresql.sql_to_dataframe("SELECT DISTINCT ad_group_name, ad_group_id FROM sponsored_products.campaign_adgroup")
keyword_ids = postgresql.sql_to_dataframe("SELECT DISTINCT search_term, keyword_id FROM sponsored_products.search_term")

                                       campaign_name      campaign_id
0  ATS+AKS | SPk-sEX | 'mixer set bartender' sv_5...  278804788265089
1  AKK | SPp-sEX | M&C - B07TC3D7LL - CBL Box sta...   21660842690168
2  ATS+AKS | SPk-mEX | GR_bartender1 - | - | 2022...  182256418325702
3  BTS+BKS | SPk-sEX | 'coctelera bartender kit' ...  226846634481522
4     AMG | SPk-mEX | GR_brass - | - | 2022-10-13 []  248426852585625